<div class="modal-body">
  <div class="modal-card">
    <div class="modal-card-title delete">
      <span>Supprimer le club</span>
    </div>
    <div class="modal-card-content">
      <p>Cette suppréssion entrainera :</p>
      <ul>
        <li>La suppréssions de toutes leurs équipes</li>
        <li>La suppréssions de tous leurs joueurs</li>
        <li>Affectera les poules et les compétitions créées</li>
      </ul>
    </div>
    <div class="modal-footer delete">
      <div class="actions">
        <button type="button" (click)="activeModal.close()">Oui, à mon âme et conscience</button>
      </div>
    </div>
  </div>
</div>
