<nav>
  <ul class="nav-content">
    <li class="header-logo">
      <img src="../assets/img/logo-acbb.png" alt="Logo ACBB">
    </li>
    <li>
      <span [routerLink]="['/clubs']">
        <img src="../assets/img/svg/emblem.svg" alt="Logo Club">
      </span>
    </li>
    <li>
      <span [routerLink]="['/teams']">
        <img src="../assets/img/svg/trainer.svg" alt="Logo Equipe">
      </span>
    </li>
    <li>
      <span [routerLink]="['/pools']">
        <img src="../assets/img/svg/results.svg" alt="Logo Poules">
      </span>
    </li>
  </ul>
</nav>

<div class="page">
  <header>
    <div class="header-title">
      <h1>Tournoi de l'A.C.B.B Basket</h1>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
