<form [formGroup]="fg_pool" (ngSubmit)="save()" novalidate [hidden]="alert_global">
  <div class="modal-body">
    <div class="modal-card">
      <div class="modal-card-title">
        <span>Création d'une poule</span>
      </div>
      <div class="modal-card-alert" [hidden]="!alert_pool">
        <i class="fa fa-exclamation" aria-hidden="true"></i>&nbsp;
        <span [innerHTML]="alert_pool"></span>
      </div>

      <div class="modal-card-content">

        <div class="row form-group">
          <div class="col">
            <label for="category">Category&nbsp;
              <sup>*</sup>
            </label>
            <select id="category" class="form-control" formControlName="category_id" [class.is-invalid]="fg_pool.get('category_id').hasError('required')"
              (change)="category_change($event.target.value)">
              <option value="" disabled>Choisir une categorie</option>
              <option *ngFor="let c of categories" [value]="c._id">{{c.name}}</option>
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col">
            <label for="name">Nom de la poule&nbsp;
              <sup>*</sup>
            </label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="A.C.B.B" [class.is-invalid]="fg_pool.get('name').hasError('required')"
            />
          </div>
        </div>

        <div class="row form-group">
          <div class="col-6">
            <label for="start_date">Jour du tournoi&nbsp;
              <sup>*</sup>
            </label>
            <input type="date" id="start_date" class="form-control" formControlName="start_date" placeholder="A.C.B.B" [class.is-invalid]="fg_pool.get('start_date').hasError('required')"
            />
          </div>

          <div class="col-6">
            <label for="start_date">Formule Allé/Retour&nbsp;
              <sup>*</sup>
            </label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" formControlName="back">Oui
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-card">
      <div class="modal-card-title">
        <span>Liste des équipes séléctionnables</span>
      </div>
      <div class="modal-card-alert">
        <i class="fa fa-exclamation" aria-hidden="true"></i>&nbsp;
        <span [innerHTML]="alert_teams"></span>
      </div>
      <div class="modal-card-content" *ngIf="teams">
        <div class="jcards">
          <div class="jcard" *ngFor="let team of teams" [class.checked]="team.isChecked" (click)="select_team(team)">
            <div class="jcard-header">
              <div>{{team.name}}</div>
            </div>
            <div class="jcard-footer">
              <div>{{team.division}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="fg_pool.valid">
    <div class="actions">
      <button type="submit">Enregistrer</button>
    </div>
  </div>
</form>

<div class="modal-body" [hidden]="!alert_global">
  <div class="modal-card">
    <div class="modal-card-alert success">
      <i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;
      <span [innerHTML]="alert_global"></span>
    </div>
  </div>
</div>